/*
 * Michael Wood's website
 * typography.css
 */

/* load page font from Google */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
}

.masthead {
    font-weight: 100;
    font-size: 10em;
}